.recipes {
  background-color: #ffffff;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 215px;
}

.recipes__title {
  margin-left: 80px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  padding-top: 24px;
  padding-bottom: 80px;
  padding-left: 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.recipes__videos {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.recipes__video-item {
  flex: 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  display: inline-block;
}

.recipes__video-caption {
  margin: 24px 0 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
